<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy" crossorigin="anonymous">

    <title>Code with Me</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Code with Me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"  href="#"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Info</a>
          </li>
        
        </ul>
      </div>
      <form class="form-inline">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>



  <div class="alert alert-success" role="alert">
    <strong>Hello,</strong>">You can work with your text in this website.</h4>
    <button type="'button" class ="close" data-dismiss=""atert" aris-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="container">
    <form action="/Analyze" method="post"> {% csrf_token %}

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter your text here</label>
      <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

        <div class="custom-control custom-switch">
      <input type="checkbox" name="removingpunc"  class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Removing punctuations</label>
  </div>

        <div class="custom-control custom-switch">
      <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
  </div>

        <div class="custom-control custom-switch">
      <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch3">
      <label class="custom-control-label" for="customSwitch3">Removing new line</label>
  </div>

        <div class="custom-control custom-switch">
      <input type="checkbox" name="exspaceremover" class="custom-control-input" id="customSwitch4">
      <label class="custom-control-label" for="customSwitch4">Removing Extra space</label>
  </div>
      <button type="submit" class="btn btn-dark mt-2">Analyse the text</button>
      </form>
  </div>

            <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    -->
  </body>
</html>